body{
  background-color: black;
  color: white;
  font-family: verdana;
}
h1{
  font-family: Arial;
}
img{
  background-color: white;
}

a{
  color: white;
}
div{
  margin-top: 10px;
  margin-left: 20px
}
