.cinema-body{
  width:100%;
  height: 100%;
  background-image: url("../img/imagen.jpg");
  background-repeat: no-repeat;
  background-position: center center;
}
.navbar-inverse{
  background: #082D5E;
  min-height: 10%;
  border: none;
}
#logo{
    width: 100px;
}
.container-fluid{
  margin-top: 64px;
}
.jumbotron{
  min-height: 500px;
  margin-bottom: 0px;
  border-radius: 0px !important;
  background: url("../img/cinema-body.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;

}
.welcome-title{
  color: white;
  margin-right: 10px;
}
.jumbotrom-img{
  margin-top: 20px;
  width: 220px;
}
.jumbotrom-text{
  font-size: 16px;
  color: white;
  margin-top: 20px;
}
.redes-sociales{
  margin-top: 30px;
}
.img-social{
    width: 40px;
    height: 40px;
}
.titulo-cartelera {
  min-height: 45px;
  background-color: rgba(8, 45, 94, 0.95);
  color:white;
}
.titulo-text{
  font-size: 18px;
  font-weight: bolder;
  color:white;
  padding: 10px;
}
.movies-row {
  background: rgba(0,0,0,0.8);
  min-height: 380px;
  padding-left: 15px;
  padding-right: 15px;
}
.movies-row-last {
  background: rgba(0, 0, 0, 0.8);
  min-height: 425px;
  padding-left: 15px;
  padding-right: 15px;
}
.movies-column {
  margin-top: 5px;
  /* background: #00678E; */
  min-height: 330px;
  /* border: 1px dashed #FFFFFF; */
}
.movie-title{
  color:white;
}
.img-movies{
  height: 260px;
  padding: 6px;
  margin-top: 22px;
}
.left-column {
  border-right: 1px dashed #FFFFFF;
}
.services-text {
  color: #FFFFFF;
  margin-top: 13px;
}
.user_data{
  margin-top: 10px;
  color: white;
}
.input-element{
  width:100%;
  height: 28px;
  padding: 10px;
  background-color: rgba(255,255,255,0.4);
  border-radius: 4px;
  border: none;
  margin-top: 5px;
}
.label-class{
  font-size: 13px;
  margin-right: 10px;
  color: white;
}
.btn-save{
  width: 40%;
  background-color: rgba(8, 45, 94, 0.95);
  color: #FFFFFF;
}.centrar{
text-align: center !important;
}

@media (max-width: 770px) {
    /* Clase para ocultar componentes HTML */
    .right-column {
      display: none;
    }

    .movies-row {
      min-height: 250px;
    }

    .movies-column {
      min-height: 230px;
    }

    .jumbotron {
      min-height: 400px;

    }
    h2{
      font-size: 22px;
    }
    .titulo-text{
      font-size: 15px;
    }
    .jumbotrom{
      margin-top: 20px;
    }
    .container-fluid{
      margin-top: 60px;
    }
    .img-movies {
      height: 133px;
      padding: 6px;
      margin-top: 22px;
    }

  }
