body{
  background:#602060;
}
header{
  background:  #ff9900;
  padding: 0px !important;
}
.navegacion{
  padding: 20px !important;
}
.m {
  margin-top: 25px;
  padding-top: 25px;
  background: white;
}
.bug{
  border: 0px !important;
}
h5{
  font-family: 'Rock Salt', cursive;
  color: green;
  text-shadow: 10px 2px 20px white;
}
nav{
  background: #e68a00;
  color:white;
}
.opcion{
  padding-top: 10px;
}
.texto{
  font-family: 'Rock Salt', cursive;
  color: white  ;
}
