body{

  height: 450px;
  width: 100%;
}
.principal{
height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.contenedor1{
  background: yellow;
  width: 50%;
  height: 100%;

}
.contenedor2{
  background: blue;
width: 50%;
height: 100%;
}
