body{
  margin: 20px;
  font-family: verdana;
  }
nav{
  padding-top: 10px 0px;
}
nav a{
  color:green;
  text-decoration: none;
}
nav a:hover{
  text-decoration: underline;
}
#menu-principal a + a::before{
  content:"| ";
  color:black;
}
footer{
  margin-top: 20px;
  border-top: solid 1px black;
  padding-top: 10px;
  text-align: center;
}
table{
  border-collapse: collapse;
}

table, tr, td, th{
  border: 1px black solid;
  padding: 10px;
}
tbody tr:nth-of-type(even){
  background: #CCC;
}
tbody tr:nth-of-type(odd){
  background: #CCF;
}
td>tr:nth-of-type(odd):hover{
  background:#DDD;
}
.sombra{
  box-shadow: 2px 2px 6px rgba(0,0,0,0.6);
}
