body {
  font-size: 3em;
  font-family: helvetica;
}
.bloque1 {
  color: #ddd;
  background-color: #FF0000;
  order: 1;

}
.bloque2 {
  color: #333;
  background-color: #00FF99;
  order: 5;

}
.bloque3 {
  color: #333;
  background-color: #00FFFF;
  order: 2;

}
.bloque4 {
  color: #333;
  background-color: #FFFF00;
  order: 6;

}
.bloque5 {
  color: #ddd;
  background-color: #000000;
  order: 3;

}
.bloque6 {
  color: #333;
  background-color: #0Fd000;
  order: 7;

}
.bloque7 {
  color: #ddd;
  background-color: #0000F0;
  order: 4;
}
[class^="contenedor"]{
  display: flex;
  flex-wrap: wrap;

}
[class^="bloq"]{
width: 120px;
  min-height: 200px;
  flex-wrap: wrap;
}
