body{
  width: 98%;
  height: auto;
  margin: auto;
  font-family: 'Permanent Marker', cursive;
}
#contenido{
display: flex;
flex-direction: column;

}
#destacados{
  background-color: #669999;
  height: 130px;
}
#ofertas{
  background-color: #F7D988;
  height: 130px;
}
#disponible{
  background-color: #a6001a;
  height: 130px;
}
h2{
  text-align: center;
}
footer{
   border-top: solid 1px black;
   margin: 10px;
   text-align: center;
   padding-top: 10px;
}
#destacados, #ofertas, #disponible{
position: relative;
width: 100%;
}
.contenedor{
  width: 100%;
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;

}
.producto{
  flex: auto;
  text-align: center;
  background-color: white;
  margin: 10px;
  padding: 10px;
  font-family: 'Allerta Stencil', sans-serif;
}

#disponible .contenedor{
  background-color: coral;
}
#destacados h2{
  text-shadow:0px 0px 3px white;
}
#ofertas section .producto{
  box-shadow: 4px 8px ;
}
#disponible section .producto{
  box-shadow: 4px 8px #D46A6A;
}
#ofertas h2{
  text-shadow: 1px 1px 2px white, 0 0 30px #D46A6A
}
#destacados section .producto{
  box-shadow: 0px 4px 8px 0 rgba(255, 255, 0, 0.3);

}
